body {
    background-color: rgb(168, 157, 157);
    margin: 0;
}

button:hover {
    color: grey;
}






/*styling for the navigation bar*/
.titleBar {
    display: flex;
    background-color: #474747;
    padding: 5px
}

    .titleBar button {
        margin-left: auto;
    }

    .titleBar form {
        background-color: #474747;
        padding: 0px;
    }

    .search {
        display: flex;
        background-color: #474747;
        width: 300px;
        padding: 0px;
        border-radius: 5px;
        margin: 0;
        font-size: 20px;
        outline: none;
    }

        .search input {
            flex-grow: 2;
            margin-right: 2px;
        }

        .search button {
            float: right;
        }

    .navigation {
        background-color: bisque;
        border-width: 0px;
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px 0 5px;
        font-size: 20px;
    }

    .heading {
        color: rgb(216, 216, 216);

        font-size: 30px;
    }









/*Styling for the journal entries*/
.journal-entries {
    background-color: rgb(253, 253, 253);
    opacity: 0.85;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
    transition: 200ms ease-in-out;
}
    .journal-entries:hover {
        opacity: 1;
    }
        
.journal-entry-headers {
    display: block;
}






/*Styling for the background image*/
body {
    background-image: url('tiger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}












/*Styling for the journal entry modal box*/
*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    width: 500px;
    max-width: 80%;
    height: 400px;
    z-index: 10;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

    .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }


.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

    .modal-header .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .modal-header .close-button {
        cursor: pointer;
        background-color: black;
        border: none;
        outline: none;
        border-radius: 50%;
        color: white;
        font-size: 1.25rem;
    }

.modal-body {
    padding: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }



/*form element styling*/

form {
    padding: 10px;
}

    form input[type=text] {
        text-align: top;
        width: 100%;
        padding: 10px, 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    form input[type=submit] {
        width: 100%;
        background-color: #555555;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    form #journal-notes {
        width: 100%;
        height: 150px;
        
    }


/*Section for the journal entry modal viewer*/
.modal-viewer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    width: 500px;
    max-width: 80%;
    height: 400px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 5px;
}

    .modal-viewer.active {
        transform: translate(-50%, -50%) scale(1);
    }


.modal-viewer-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

    .modal-viewer-header .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .modal-viewer-header .close-button {
        cursor: pointer;
        background-color: black;
        border: none;
        outline: none;
        border-radius: 50%;
        color: white;
        font-size: 1.25rem;
    }

.modal-viewer-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 70%;
}

    .modal-viewer-body div {
        padding:4px;
    }

    .modal-viewer-body button {
        width: 100%;
        background-color: #555555;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #modal-viewer-text {
        overflow-y: auto;
        white-space: pre-line;
    }

    .attr-name{
        font-weight: bold;
    }

    .attr-text {
        font-weight: normal;
    }