body {
    background-color: rgb(214, 213, 213);
    margin: 0;
}








/*styling for the navigation bar*/
.navigation {
    background-color: bisque;
    float: right;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    font-size: 20px;

}

.heading {
    color: rgb(216, 216, 216);
    float: inherit;
    font-size: 30px;

}

.titleBar {
    background-color: #474747;
    padding: 5px
}









/*Styling for the journal entries*/
.journal-entries {
    background-color: rgb(253, 253, 253);
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
    transition: 200ms ease-in-out;
}

















/*Styling for the journal entry modal box*/
*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    width: 500px;
    max-width: 80%;
    height: 250px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 5px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 2rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
}

.modal-body {
    padding: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}









/*Section for the journal entry modal viewer*/
.modal-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    width: 500px;
    max-width: 80%;
    height: 250px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 5px;
}

.modal-viewer.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-viewer-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-viewer-header .title {
    font-size: 2rem;
    font-weight: bold;
}

.modal-viewer-header .close-button {
    cursor: pointer;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
}

.modal-viewer-body {
    padding: 10px;
}